* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  border: 0;
  background: inherit;
  font-family: inherit;
  color: inherit;
}

button:focus,
input:focus {
  outline: 0;
}

button {
  font-size: inherit;
  cursor: pointer;
}
